body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

@font-face {
  font-family: "RockstarBlack";
  src: local("RockstarBlack"),
  url("/public/fonts/RockStar-Black.otf") format("truetype");
}

@font-face {
  font-family: "RockstarLight";
  src: local("RockstarLight"),
  url("/public/fonts/RockStar-Light.otf") format("truetype");
}

@font-face {
  font-family: "RockstarNarrowRegular";
  src: local("RockstarNarrowRegular"),
  url("/public/fonts/RockStar-NarrowRegular.otf") format("truetype");
}

#text {
  display: inline-block;
  vertical-align: middle;
  letter-spacing: 2px;
}

#cursor {
  width: 16px;
  height: 96px;
  animation: blink .75s step-end infinite;
}

@keyframes blink {
  from, to {
    background-color: transparent
  }
  50% {
    background-color: white;
  }
}